body{
    background: #76b852;
}

.form-wrapper{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

a{
    cursor: pointer;
}

.identification{
    position: relative;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.identification input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.identification input[type=submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 0;
}

.identification .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.identification .message a {
    color: #4CAF50;
    text-decoration: none;
}

.error{
    color: red;
    font-family: "Roboto", sans-serif;
    border: 0;
    margin: -20px 0 10px 0;
}

.success{
    color: green;
    font-family: "Roboto", sans-serif;
    border: 0;
    margin: -20px 0 10px 0;
}

.hide{
    display: none;
}